/*--------------------------------------------------------------
17.0 Customizer
--------------------------------------------------------------*/

.highlight-front-sections.twentyseventeen-customizer.twentyseventeen-front-page .twentyseventeen-panel {
  &:after {
    border: 2px dashed $blue1;
    /* Matches visible edit shortcuts. */
    bottom: 1em;
    content: "";
    display: block;
    left: 1em;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1;
  }
  .panel-content {
    z-index: 2;
    /* Prevent :after from preventing interactions within the section */
  }
}

/* Used for placeholder text */

.twentyseventeen-customizer.twentyseventeen-front-page .twentyseventeen-panel .twentyseventeen-panel-title {
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 3em;
  text-transform: uppercase;
  text-align: center;
}

/* Show borders on the custom page panels only when the front page sections are being edited */

.highlight-front-sections.twentyseventeen-customizer.twentyseventeen-front-page .twentyseventeen-panel:nth-of-type(1):after {
  border: none;
}

.twentyseventeen-front-page.twentyseventeen-customizer #primary article.panel-placeholder {
  border: 0;
}

/* Add some space around the visual edit shortcut buttons. */

.twentyseventeen-panel > .customize-partial-edit-shortcut > button {
  top: 30px;
  left: 30px;
}

.twentyseventeen-panel {
  .customize-partial-edit-shortcut-hidden:before {
    visibility: visible;
  }
}

/* Ensure that placeholder icons are visible. */


.home .site-branding .wrap {
  text-align: center;
}


.page-one-column {
  .panel-content {
    .wrap {
      max-width: 100%;
      padding: 0px;
      
      .entry-header {
        display: none;
      }
      .destacado_home,
      .normal_home {
        max-width: 1000px;
        margin: auto;
      }
      .wrap_destacado_home {
        min-height: auto;
	      padding: 2em 0;
	      color: $blue3;
	      margin-bottom: 0;
	      background-color: $yellow1;
      }
      h2 {
        padding: 1em 0;
		    color: $blue3;
		    font-size:2em;
      }
      p {
        padding: 0.5em 0;
		    color: $black1;
      }
      .columns_destacado_home {
        max-width: 1000px;
        margin: auto;
        background-color: $yellow1;;
      }
    }
  }
}


@media screen and (min-width: 48em) {
	.twentyseventeen-front-page.has-header-image .custom-header-image {
	  height: 70vh;
	}
}

.has-header-image.twentyseventeen-front-page .custom-header {
  height: 50vh;
}


.home .custom-header .custom-header-media img {
  transform:translateY(-30%) !important;
}

/* Recursos */
.wp-block-button__link {
  border-radius: 5px;
}